body { margin:0; padding:0; }
ul{list-style: none;}
ul,li{
    margin:0;
    padding:0;
}

#map { position:absolute; top:0; bottom:0; width:100%; }


.abs{
    position:fixed;
    right:0;
    bottom:0;
}

.tagbar{

    z-index:1000;
}

@media (max-width: 720px) {  
    .tagbar{

        z-index:1000;
    }
}         

.holder{
    display:block;
    position:relative;
    width:100%;
    height:100%;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn.active{
    background-color:#007cbf;
    color:#fff;
    border-color:#006caf;
}

.side-bar{
    position:fixed;
    display:block;

    top:0;
    left:-240px;
    background-color:rgba(0,0,0,0.8);
    z-index:1000;

    height:100%;
    width:240px;

    transition:all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition:all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition:all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-bar.on{
    left:0px;
}

.side-btn{
    position:absolute;
    display:block;

    top:0;
    left:100%;
    background-color:rgba(0,0,0,0.8);
    z-index:1000;

    height:36px;
    width:36px;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media (max-width: 720px) {  
    .side-bar{
        left:-50%;
        width:50%;
    }
    .side-btn{
        position:absolute;
        display:block;

        top:0;
        left:100%;
        background-color:rgba(0,0,0,0.8);
        z-index:1000;

        height:36px;
        width:36px;

        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    .side-bar.on{
        left:0px;
    }
}         

.side-icon{
    width:22px;
    height:22px;

    margin:7px;
    opacity:0.8;
}