body { margin:0; padding:0; }
ul{list-style: none;}
ul,li{
    margin:0;
    padding:0;
}

#map { position:fixed; top:0; bottom:0; width:100%; }
canvas{
    left:0;
    top:0;
    z-index:999;
}
.abs{
    position:fixed;
    right:0;
    bottom:0;
}

.tagbar{

    z-index:1000;
}

@media (max-width: 720px) {  
    .tagbar{

        z-index:1000;
    }
}         

.holder{
    display:block;
    position:relative;
    width:100%;
    height:100%;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn.active{
    background-color:#007cbf;
    color:#fff;
    border-color:#006caf;
}

.side-bar{
    position:fixed;
    display:block;

    top:0;
    left:-240px;
    background-color:rgba(0,0,0,0.8);
    z-index:1000;

    height:100%;
    width:240px;

    transition:all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition:all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition:all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-bar.on{
    left:0px;
}

.side-btn{
    position:absolute;
    display:block;

    top:0;
    left:100%;
    background-color:rgba(0,0,0,0.8);
    z-index:1000;

    height:36px;
    width:36px;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media (max-width: 720px) {  
    .side-bar{
        left:-50%;
        width:50%;
    }
    .side-btn{
        position:absolute;
        display:block;

        top:0;
        left:100%;
        background-color:rgba(0,0,0,0.8);
        z-index:1000;

        height:36px;
        width:36px;

        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    .side-bar.on{
        left:0px;
    }
}         

.side-icon{
    width:22px;
    height:22px;

    margin:7px;
    opacity:0.8;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #eee;
}

section {
  float: left;
  min-width: 160px;
  width: 50%;
  padding: 25px 0;
  min-height: 100px;
}

/*=====================*/
.checkbox {
    position: relative;
    display: inline-block;

    transform: scale(0.5,0.5);
    -ms-transform: scale(0.5,0.5);  /* IE 9 */
    -webkit-transform: scale(0.5,0.5);  /* Safari 和 Chrome */
    -o-transform: scale(0.5,0.5);   /* Opera */
    -moz-transform: scale(0.5,0.5); /* Firefox */
}
.checkbox:after, .checkbox:before {
    font-family: FontAwesome;
    -webkit-font-feature-settings: normal;
     -moz-font-feature-settings: normal;
          font-feature-settings: normal;
    -webkit-font-kerning: auto;
     -moz-font-kerning: auto;
          font-kerning: auto;
    -webkit-font-language-override: normal;
     -moz-font-language-override: normal;
          font-language-override: normal;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}
.checkbox label {
    width: 50px;//90
    height: 22px;//42
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 24px;//46
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.checkbox label:after {
    content: '';
    position: absolute;
    width: 28px;//50
    height: 28px;//50
    border-radius: 100%;
    left: 0;
    top: -6px;//-5
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.checkbox input:hover + label:after {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label:after {
    left: 22px;//40
}

.model-4 .checkbox label {
    background: #bbb;
    height: 25px;
    width: 75px;
}
.model-4 .checkbox label:after {
    background: #fff;
    top: -8px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
}
.model-4 .checkbox input:checked + label {
    background: #77C2BB;
}
.model-4 .checkbox input:checked + label:after {
    background: #009688;
    left: 40px;
}

.side-bar .label{
    width:100%;
    color:#fff;
    font-weight:300;
    text-align: center;
    vertical-align:middle;

    font-size:20px;
    line-height:20px;
}

#u-list{

}

#u-list .hf{
    width:100%;
    height:24px;

    text-align:center;
    vertical-align:middle;
    line-height:24px;

    font-size:20px;

    color:rgba(0,0,0,0.8);
    background-color: #fff;
}

#u-list ul{
    padding-top: 8px;
    padding-bottom: 8px;
}

#u-list li{
    width:100%;
    height:auto;
    min-height:28px;

    font-size:18px;
    line-height:28px;
}

#u-list li div{
  color:#fff;
}